.rg-body-container {
    background-image: url('/public/Image/lgcar1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    /* border: 1px solid black; */
    padding-bottom: 6%;
}

.rg-container {
    margin-top: 9.5%;
    margin-left: 36%;
    margin-right: 36%;
    padding: 2%;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}
.rg-container h3{
    margin-top: -1%;
    margin-bottom: 5%;
    margin-left: 9rem;
    color: #0067b8;
    font-weight: bold;
}
.rg-Input-container {
    /* margin-top: -1px; */
    padding: 9px;
    width: 100%;
    background-color: rgba(0, 0, 0, .025);
    border: 1px solid #ded8d8;
    border-radius: 3px;
    outline: none;
}

.rg-btn-container {
    /* margin-top: .5rem; */
    padding: 9px;
    width: 60%;
    margin-left: 7rem;
    background-color: #0067b8;
    border: none;
    color: aliceblue;
    font-weight: 600;
    outline: none;
}

.errormsg {
    color: red;
    margin-left: 8px;
    font-size: 12px;
}

.errormsg2 {
    color: red;
    margin-left: 7.5rem;
    font-size: 12px;
    /* font-weight: bold; */
}
